<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var MY_APP = {
            contextPath: /*[[@{/}]]*/,
            user: /*[[${#authentication.getPrincipal()}]]*/,
            locale: /*[[${locale}]]*/,
            messages: {
                book: /*[[#{create.appointment.book}]]*/,
                make_an_app : /*[[#{create.appointment.button.master}]]*/,
                master: /*[[#{create.appointment.master.title}]]*/,
                price: /*[[#{create.appointment.price.title}]]*/,
                service: /*[[#{create.appointment.service.title}]]*/,
                cancel: /*[[#{button.cancel}]]*/,
                error_exists: /*[[#{user.exists.error}]]*/
            }
        };
        /*]]>*/
    </script>
</div>