<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create appointment</title>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <object th:remove="tag" th:include="partials/scripts :: header" />
</head>
<body>
    <div th:replace="partials/header :: header">...</div>
    <section class="section top">
    </section>
    <section class="section">
        <div class="container">
            <div class="section__header">
                <h3 class="section__subtitle"
                    th:text="#{create.appointment.title}">Make an appointment</h3>
            </div>
            <div class="create__app__content">
                <div class="create__app__master__image" id="masterImg">
                </div>
                <div class="input-field">
                    <select id="select-service">
                        <option value="" disabled selected th:text="#{create.appointment.choose.service.title}"></option>
                    </select>
                    <label for="select-service" id="select_label"
                           th:text="#{create.appointment.choose.service.title}">Choose service...</label>
                </div>
                <div class="create__app__time__date">
                    <label for="date" th:text="#{create.appointment.date}">Choose date..</label>
                    <input type="text" id="date" class="datepicker">
                    <div class="create__app__time" id="time-table">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="modal" class="modal" style="width: 40%">
        <div class="modal-content">
            <div class="row">
                <div class="col s6" style="font-size: 20px">
                    <p>
                        <span th:text="#{create.appointment.master.title}"></span>:
                        <span id="master-modal"></span>
                    </p>
                    <p>
                        <span th:text="#{create.appointment.service.title}"></span>:
                        <span id="service-modal"></span>
                    </p>
                    <p>
                        <span th:text="#{create.appointment.price.title}"></span>:
                        <span id="price-modal"></span>
                    </p>
                    <p>
                        <span th:text="#{create.appointment.date.title}"></span>:
                        <span id="date-modal"></span>
                    </p>
                    <p>
                        <span th:text="#{create.appointment.time.title}"></span>:
                        <span id="time-modal"></span>
                    </p>
                </div>
                <div class="col s6 center-align" id="master_image">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-close waves-effect waves-red btn-flat" th:text="#{button.cancel}">Cancel</button>
            <button type="button" id="button-book" class="modal-close waves-effect waves-green btn-flat" th:text="#{create.appointment.book}">Book</button>
        </div>
    </div>

    <div id="modal-exists" class="modal" style="width: 40%">
        <div class="modal-content">
            <h1 th:text="#{create.appointment.exists}"></h1>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-close waves-effect waves-red btn-flat" th:text="#{button.ok}">Ok</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/create_app.js"></script>
</body>
</html>